[environment]
DATA_ROOT=/hive/groups/recon/projs/felidae/pipeline_data
VERSION=2015-01-29
NAME=CHC
SIZES_FOLDER=/hive/groups/recon/projs/felidae/pipeline_data/comparative/CTLCHD/2014-11-20/cactus/sizes
HAL=/hive/groups/recon/projs/felidae/pipeline_data/comparative/CTLCHD/2015-01-26/cactus/CTLCHD_2015-01-26.hal
QUERY=AcinonyxJubatus
TARGET=FelisCatus
