[environment]
DATA_ROOT=/hive/groups/recon/projs/pipeline_data
SPECIE_SOURCE=FelisCatus 
SPECIE_TARGET=PantheraTigris 
NAME=coverage
PATH_TO_HAL=/hive/groups/recon/projs/felidae/data/whole_genomes_output.hal
PATH_TO_FASTA=/hive/groups/recon/projs/felidae/data/whole_genomes/fca_ref_Felis_catus-6.2_all.combmask.bed
PATH_TO_OUTPUT=/hive/groups/recon/projs/pipeline_data/comparative/tmp
