[environment]
DATA_ROOT=/hive/groups/recon/projs/felidae/pipeline_data
VERSION=
NAME=test
FOLDER_NAME=rearrangements/ouput
SIZES_FOLDER=/hive/groups/recon/projs/felidae/pipeline_data/test/rearrangements/data/sizes
MAF=/hive/groups/recon/projs/felidae/pipeline_data/test/rearrangements/data/CHCHSCF_2015-01-14.maf 
SPECIES=/hive/groups/recon/projs/felidae/pipeline_data/test/rearrangements/data/species
